<div class="mainDiv">
    <section id="about" class="py-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h1>Acerca de</h1>
                    <p class="lead mt-4">Este proyecto es el resultado de varias horas de trabajo, luego de haber
                        combinado el uso de Angular para el frontend y una API REST hecha con Nest.js por el lado del
                        backend.<br>El objetivo fue crear una aplicación que consuma dicha API para permitir el filtrado
                        de diferentes componentes de hardware y dar una buena experiencia al usuario.</p>
                    <hr class="my-5">
                </div>
            </div>

            <div class="row fecha" style="justify-content:center">
                <div class="col-md-4 text-center">
                    <i class="fas fa-laptop-code fa-3x mb-3 text-primary"></i>
                    <p>Noviembre 2024, Facultad Cs. Exactas, UNICEN</p>
                </div>


            </div>

        </div>

    </section>
    <div class="link">
        <a href="https://github.com/nickovice/BitScape" target="_blank">
            <img src="get-it-on-github.png"
                alt="Ver en GitHub" style="border: none; width: 200px; height: auto;">
        </a>
    </div>
</div>
<app-footer></app-footer>