apiVersion: v1
kind: Service
metadata:
  name: bitscape-app-svc
  labels:
    app: bitscape-app
spec:
  type: NodePort
  ports:
  - port: 80
    targetPort: 4000
    protocol: TCP
    name: http
  selector:
    app: bitscape-app