header {
    background-color: #00000073;
    backdrop-filter: blur(21px);
}
main {
    margin-top: 64px;
    flex: 1;
    min-height: 100vh;
    align-items: center;
}

.maindiv{
    flex: 1;
    min-height: 100vh;
    align-items: center;
}