<header class="navbar navbar-expand-lg navbar-dark custom-bg shadow fixed-top">
  <div class="container">
      <a class="navbar-brand" [routerLink]="['']"><img
              src="https://camo.githubusercontent.com/3d8c19507139233d73e522e49b9954a60f2c2d948aeeb62215c8dd6830ef2d9c/68747470733a2f2f692e696d6775722e636f6d2f764465526273432e706e67"
              alt="Logo" width="167" height="35" class="d-inline-block align-text-top">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
          aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto">
              <li class="nav-item active">
                  <a class="nav-link" [routerLink]="['/products']">Productos</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/about']">Acerca de</a>
              </li>
          </ul>
      </div>
  </div>
</header>
<main>
<router-outlet></router-outlet>
</main>