<div class="container mt-5 mainContainer">
  <h2 class="mb-4">Administración de Productos</h2>
  <div class="card mb-4">
    <div class="card-header">
      <h5>Crear Producto</h5>
    </div>
    <div class="card-body">
      <form #createProductForm="ngForm" (ngSubmit)="onCreateProduct(createProductForm)" novalidate>
        <div class="mb-3">
          <label for="createProductName" class="form-label">Nombre del Producto</label>
          <input type="text" class="form-control" id="createProductName" name="name" ngModel required #name="ngModel">
          <div *ngIf="name.invalid && name.touched" class="text-danger">El nombre es obligatorio.</div>
        </div>
        <div class="mb-3">
          <label for="createProductBrand" class="form-label">Marca</label>
          <input type="text" class="form-control" id="createProductBrand" name="brand" ngModel required #brand="ngModel">
          <div *ngIf="brand.invalid && brand.touched" class="text-danger">La marca es obligatoria.</div>
        </div>
        <div class="mb-3">
          <label for="createProductPrice" class="form-label">Precio</label>
          <input type="number" class="form-control" id="createProductPrice" name="price" ngModel required #price="ngModel">
          <div *ngIf="price.invalid && price.touched" class="text-danger">El precio es obligatorio.</div>
        </div>
        <div class="mb-3">
          <label for="createProductInfo" class="form-label">Información</label>
          <textarea class="form-control" id="createProductInfo" name="info" rows="3" ngModel required #info="ngModel"></textarea>
          <div *ngIf="info.invalid && info.touched" class="text-danger">La información es obligatoria.</div>
        </div>
        <div class="mb-3">
          <label for="createProductImageUrl" class="form-label">URL de la Imagen</label>
          <input type="url" class="form-control" id="createProductImageUrl" name="image" ngModel required #image="ngModel">
          <div *ngIf="image.invalid && image.touched" class="text-danger">La URL de la imagen es obligatoria.</div>
        </div>
        <div class="mb-3">
          <label for="createProductCategory" class="form-label">Categoría</label>
          <select class="form-select" id="createProductCategory" name="category" ngModel required #category="ngModel">
            <option value="">Seleccione una categoría</option>
            <option *ngFor="let category of categories" [value]="category.id">{{category.info}}</option>
          </select>
          <div *ngIf="category.invalid && category.touched" class="text-danger">La categoría es obligatoria.</div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="createProductForm.invalid">Crear</button>
      </form>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-header">
      <h5>Crear Categoría</h5>
    </div>
    <div class="card-body">
      <form #createCategoryForm="ngForm" (ngSubmit)="onCreateCategory(createCategoryForm)" novalidate>
        <div class="mb-3">
          <label for="createCategoryName" class="form-label">Nombre de la Categoría (en minusculas y separado por guiones bajos)</label>
          <input type="text" class="form-control" id="createCategoryName" name="namee" ngModel required #namee="ngModel">
          <div *ngIf="namee.invalid && namee.touched" class="text-danger">El nombre es obligatorio.</div>
        </div>
        <div class="mb-3">
          <label for="createCategoryInfo" class="form-label">Información</label>
          <textarea class="form-control" id="createCategoryInfo" name="infoo" rows="3" ngModel required #infoo="ngModel"></textarea>
          <div *ngIf="infoo.invalid && infoo.touched" class="text-danger">La información es obligatoria.</div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="createCategoryForm.invalid">Crear</button>
      </form>
    </div>
  </div>
  
  <div class="card">
    <div class="card-header">
      <h5>Lista de Productos</h5>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Marca</th>
              <th>Precio</th>
              <th>Información</th>
              <th>Categoría</th>
              <th>Acción</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of products">
              <td>{{ product.id }}</td>
              <td>{{ product.name }}</td>
              <td>{{ product.brand }}</td>
              <td>${{ product.price }}</td>
              <td>{{ product.info }}</td>
              <td>{{ product.category }}</td>
              <td>
                <button class="btn btn-danger btn-sm" (click)="onDeleteProduct(product.id)">Borrar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h5>Lista de Categorias</h5>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Información</th>
              <th>Acción</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let category of categories">
              <td>{{ category.id }}</td>
              <td>{{ category.name }}</td>
              <td>{{ category.info }}</td>
              <td>
                <button class="btn btn-danger btn-sm" (click)="onDeleteCategory(category.id)">Borrar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
