@import '../../variables';

.mainDiv {
    background: linear-gradient(to bottom right, #000862, #33c2ff64, #000862);
    overflow-x: hidden;
    margin-top: -15px;
    position: relative;
}

.filtradoHead{
    font-size: 1.3rem;
}

h5{
    font-size: 1.05rem;
    margin-top: 8px;
}

.filtrarpor{
    display: flex;
    justify-content: center;
}

.filters-sort{
    margin-top: 50px;
    background-color: rgb(31, 34, 45);
    height: auto;
}
.allBelowSearch {
    margin-top: 48px;
}

.dropdown-toggle {
    background-color: $button-color;
    text-align: center;
}

.dropdown {
    text-align: center;
}

.dropdown-menu {
    text-align: center;
    background-color: rgb(0, 110, 255);
}

.dropdown-item{
    color: white;
}

.dropdown-item:hover{
    color: black;
}

.sortDiv {
    display: flex;
    justify-content: center;
    background-color: rgb(31, 34, 45);
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.273);
    height: 142px;
    margin-bottom: 1.5rem
}

.card-header {
    border-bottom: 1px dashed #00aeff;
    /* Cambia #FF5733 por el color que desees */
}
    


.sortButtonsContainer {
    display: flex;
    justify-content: center;
    height: 40px;
}

.sortButtons {
    height: 50px;
    justify-content: center;
    
}

.btn{
    transition: transform 0.12s;
    border: 1px solid white;
}

.btn:active {
    background-color: rgba(0, 39, 110, 0.452);
    color: white;
    border: 1.5px solid white;
    transform: scale(0.95);
}

.sortBtn {
    background-color: $button-color;
    color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.195);
    margin-top: 11px;
    margin-bottom: 11px;
    transition: transform 0.12s
}

.sortBtn:hover {
    background-color: rgb(56, 67, 87);
}

.sortBtn:active {
    background-color: rgba(0, 8, 23, 0.452);
    color: white;
    border: 2px solid white;
    transform: scale(0.95);
}

.sort-top {
    position: absolute;
    top: 0;
  }

  .sort-bottom {
    position: absolute;
    bottom: 0;
  }

.filters {
    background-color: rgb(31, 34, 45);
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.273);
}

.productCard {
    max-width: 439px;
}

.tarjeta {
    background-color: rgb(31, 34, 45);
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.273);
}

.card-img-top {
    max-width: 180px;
    max-height: 180px;
    margin-top: 10px;
    margin-bottom: 10px;
}