@import '../../variables';

.section1Home {
    padding-bottom: 140px;
    width: 100vw;
    background: linear-gradient(to bottom right, #000862, #33c2ff64, #000862);
}

h1 {
    color: white;
    padding-top: 115px;
    text-align: center;
    font-weight: 800;
    margin-left: 15px;
    margin-right: 15px;
}

h2 {
    color: rgba(255, 255, 255, 0.896);
    font-weight: bold;
    padding-bottom: 30px;
    padding-top: 8px;
}

h3 {
    font-size: 1.8rem;
    color: rgba(255, 255, 255, 0.896);
    font-weight: bold;
    padding-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.intro {
    text-align: center;
    font-size: 1.2rem;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
    color: rgb(224, 224, 224);
}

.section2Home {
    background-color: rgb(31, 34, 45);
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.section2Cont {
    padding-top: 82px;
    padding-bottom: 92px;
}

.btn-section2 {
    background-color: $button-color;
    color: white;
    border-radius: 15px;
    padding-top: 35px;
    padding-bottom: 35px;
    margin: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.195);
    transition: transform 0.12s,
}

.btn-section2:hover {
    background-color: rgb(56, 67, 87);

}

.btn-section2:active {
    background-color: rgba(0, 8, 23, 0.452);
    color: white;
    border: 2px solid white;
    transform: scale(0.95);
}

.cpuIcon {
    width: 40px;
    height: 40px;
    margin-bottom: 8px;
}

.gpuIcon {
    width: 45px;
    height: 45px;
    margin-bottom: 8px;
}

.ramIcon {
    width: 40px;
    height: 40px;
    margin-bottom: 8px;
}

.motherIcon {
    width: 40px;
    height: 40px;
    margin-bottom: 8px;
}

.storageIcon {
    width: 35px;
    height: 35px;
    margin-bottom: 12px;
}

.psuIcon {
    width: 35px;
    height: 35px;
    margin-bottom: 12px;
}

.tarjetas {
    display: flex;
    justify-content: center;
}

.card {
    margin: 5px;
    justify-content: center;
    text-align: center;
    padding: 15px;
    border-radius: 15px;
    background-color: rgb(31, 34, 45);
    color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.195);
}

.btn-tarjeta {
    margin-top: 5px;
    background-color: rgb(0, 60, 188);
    color: white;
}

.card-img-top {
    max-width: 230px;
    max-height: 230px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.section3Home {
    padding-top: 65px;
    padding-bottom: 65px;
    text-align: center;
}
