<section class="section1Home">
    <h1>Encontrá Tu Hardware Ideal</h1>
    <p class="intro">Empezá buscando por producto o explorá las principales categorías. Compará precios y specs.</p>
    <app-search-box></app-search-box>
  </section>
  <section class="section2Home">
    <div class="container text-center section2Cont">
      <h2>Categorías Principales</h2>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-2 section2Col">
          <a [routerLink]="['/products']" class="btn btn-block d-flex flex-column align-items-center btn-section2"><img src="cpu.svg"
              alt="" class="cpuIcon">CPUs</a>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-2 section2Col">
          <a [routerLink]="['/products']" class="btn btn-block d-flex flex-column align-items-center btn-section2"><img src="gpu.svg" alt=""
              class="gpuIcon">GPUs</a>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-2 section2Col">
          <a [routerLink]="['/products']" class="btn btn-block d-flex flex-column align-items-center btn-section2"><img src="ram.svg" alt=""
              class="ramIcon">RAM</a>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-2 section2Col">
          <a [routerLink]="['/products']" class="btn btn-block d-flex flex-column align-items-center btn-section2"><img src="mother.svg"
              alt="" class="motherIcon">Motherboards</a>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-2 section2Col">
          <a [routerLink]="['/products']" class="btn btn-block d-flex flex-column align-items-center btn-section2"><img src="storage.svg"
              alt="" class="storageIcon">Almacenamiento</a>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-2 section2Col">
          <a [routerLink]="['/products']" class="btn btn-block d-flex flex-column align-items-center btn-section2"><img src="psu.svg" alt=""
              class="psuIcon">Alimentación</a>
        </div>
      </div>
    </div>
  </section>
  <section>
    <p></p>
  </section>
  <section class="section3Home">
    <h3>Productos Recomendados</h3>
    <div class="container mt-4">
      <div class="row" style=justify-content:center>
        <div class="col-12 col-sm-6 mb-4" *ngFor="let card of cards">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ card.name }}</h5>
              <img [src]="card.img" class="card-img-top" alt="{{ card.name }}">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>